@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Montserrat&display=swap');

body {
  background-color: #121212; /* Set the desired dark mode background color */
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: zoom 30s infinite;
  -webkit-animation: zoom 80s infinite;
}

@keyframes zoom {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}

.heading {
  margin-bottom: 20px !important;
}

.heading span{
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  text-transform: uppercase;
}

.content-body {
  margin-top: 40px !important;
}

p {
  font-family: 'Lexend Deca' !important;
}

.main-content:before {
  background: inherit;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .60);  
  backdrop-filter: blur(5px);
  border-radius: 20px;
  }

.main-content {
  position: relative;
  background: inherit;
  _background: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  min-height: 80vh;
}