:root {
    --black: #262931;
    --white: #fffc;
    --pure-white: #f7f7f7;
    --background-top: #162a40;
    --background: #1a1b1f;
    --background-bottom: #211933;
    --card-background: #21242a;
    --btn-background: #abc7ff;
    --btn-hover: #82acff;
    --blackish: #44474e;
    --navy: #00458f;
    --nice: #40b8b6;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--background);
    border-radius: 10px;
}
::-webkit-scrollbar {
	width: 6px;
	background-color: var(--background);
}
::-webkit-scrollbar-thumb {
	background-color: #666b7a;
}
html {
    overflow-x: hidden;
}
body, html {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: var( --background );
    font-family: Open Sans, Inter,-apple-system,system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: var(--white);
}
[scroll="no"] {
    overflow-y: hidden;
}
@media screen and (max-width: 1024px) {
    body, html {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    body, html {
        font-size: 12px;
    }
}
h1,
.h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1rem 0;
    color: var(--pure-white);
}
h1 span,
.h1 span {
    color: var(--nice);
}
h2,
.h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: .5rem 0;
}
p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.header {
    position: fixed;
    min-height: 65px;
    width: 100vw;
    z-index: 555;
    /*background: var( --black );*/
}
.header.sticky-active {
}
.header .mobile-menu .hamburger {
    position: fixed;
    top: 16px;
    right: 30px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 999;
}
.header .mobile-menu .hamburger span {
    display: block;
    position: relative;
    width: 40px;
    height: 8px;
    background-color: var(--white);
    margin-bottom: 3px;
    margin-left: auto;
    border-radius: 2px;
    transition: 0.4s;
}
.header .mobile-menu .hamburger span:nth-of-type(2) {
    width: 30px;
}
.header .mobile-menu .hamburger span:nth-of-type(3) {
    width: 20px;
}
.header .logo {
    position: fixed;
    top: 16px;
    left: 30px;
    cursor: pointer;
}

.header .mobile-menu nav {
    position: fixed;
    width: 350px;
    max-width: 100vw;
    height: 100vh;
    background: #121212;
    right: -300px;
    transition: .4s;
    opacity: 0;
    overflow: hidden;
}
.header .mobile-menu.transformed .hamburger {
    transform: rotate(45deg);
}
.header .mobile-menu.transformed .hamburger span:nth-of-type(1) {
    transform: rotate(90deg) translate(10px, 0);
}
.header .mobile-menu.transformed .hamburger span:nth-of-type(2) {
    width: 40px;
}
.header .mobile-menu.transformed .hamburger span:nth-of-type(3) {
    opacity: 0;
}
.header .mobile-menu.transformed nav {
    right: 0;
    opacity: 1;
}
.header .mobile-menu nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.header .mobile-menu nav li {
    list-style-type: none;
}
.header .mobile-menu nav li > a {
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--white);
    line-height: 4rem;
    margin-left: -150px;
    opacity: 0;
    transition: .6s;
}
.header .mobile-menu.transformed nav li > a {
    margin-left: 0;
    opacity: 1;
}
.header .mobile-menu nav li:nth-of-type(1) > a {
    transition-delay: .1s;
}
.header .mobile-menu nav li:nth-of-type(2) > a {
    transition-delay: .2s;
}
.header .mobile-menu nav li:nth-of-type(3) > a {
    transition-delay: .3s;
}
.header .mobile-menu nav li:nth-of-type(4) > a {
    transition-delay: .4s;
}
.header .mobile-menu nav li > a > svg {
    fill: var(--white);
    margin-bottom: -5px;
}

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 150vh;
    overflow: hidden;
}
.background-top:before,
.background-bottom:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 0;
}
.background-top:before {
    background: radial-gradient( var(--background-top) 10%, transparent 70% );
    left: 0;
    top: 0;
    margin-left: -20%;
    margin-top: -20%;
}
.background-bottom:before {
    background: radial-gradient( var(--background-bottom) 10%, transparent 70% );
    right: 0;
    bottom: 0;
    margin-right: -20%;
}

.main-page {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    position: relative;
    transition: .4s;
}
@media screen and (max-width: 1024px) {
    .main-page {
        max-width: calc( 100vw - 40px );
    }
}
.header .mobile-menu.transformed .backdrop-overlay {
    display: none;
}
.header .mobile-menu.transformed .backdrop-overlay {
    display: block;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
}
.main-page.transformed {
    transform: translate3D(-50px, 0, -50px);
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}
.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10rem;
}
.row.reversed {
    flex-direction: row-reverse;
}
.row > .col {
    flex: 0 calc( 50% - 2rem );
    width: calc( 50% - 2rem );
    position: relative;
}
.row > .col-25 {
    flex: 0 calc(25% - 2rem);
    width: calc(25% - 2rem);
    position: relative;
}
.row > .col-75 {
    flex: 0 calc(75% - 2rem);
    width: calc(75% - 2rem);
    position: relative;
}
.row > .col-33 {
    flex: 0 calc(33% - 2rem);
    width: calc(33% - 2rem);
    position: relative;
}
@media screen and (max-width: 1024px) {
    .row {
        flex-direction: column !important;
    }
    .row > .col,
    .row > .col-25,
    .row > .col-75,
    .row > .col-33 {
        flex: 0 100%;
        width: 100%;
        margin-bottom: 1rem;
    }
}
.row > .col-full {
    flex: 0 100%;
    width: 100%;
    position: relative;
}
.jumbo-card {
    background: var(--card-background);
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 1rem;
}
.jumbo-card.bordered {
    border: solid 1px var(--blackish);
}
@media screen and (max-width: 1024px) {
    .jumbo-card {
        padding: 1rem;
    }
}

.button {
    padding: 1rem 2rem;
    border: solid 1px var(--nice);
    color: var(--white);
    font-weight: 600;
    border-radius: .2rem;
    transition: .4s;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    letter-spacing: .1rem;
}
.button:hover,
.button:active,
.button:focus {
    background: var(--nice);
    color: var(--black);
}
.button:active,
.button:focus {
    border-radius: 10px;
}
.rounded {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.text-centered {
    text-align: center;
    box-sizing: border-box;
}

.project,
.no-margin {
    margin-top: 2rem;
}
.project img {
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    transition: 0.3s ease;
}
.project img:hover {
    transform: scale(1.02);
}
@media screen and (max-width: 1024px) {
    .project img {
        margin-bottom: 2rem;
    }
}

.m-width {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.w-500 {
    font-weight: 500;
}
.v-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.center {
    align-items: center;
}
.nice {
    position: relative;
}
.nice:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -100px;
    width: 70px;
    height: 2px;
    background-color: var(--nice);
}

footer {
    margin-top: 3rem;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 0;
    border-top: solid 1px var(--blackish);
}
footer .row {
    margin-top: 0px;
}
footer * {
    font-size: .8rem;
    color: var(--blackish);
}

.wordpress,
.html,
.shopify {
    height: 100px;
}
.wordpress {
    fill: #28799e;
}
.html {
    fill: #dd4b25;
}
.shopify {
    fill: #5e9935;
}